{% extends "base.html" %}
{% block main %}
<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors  %}
            <span class="errorstyle">{{error}}</span>
            {% endfor %}
        {% endif %}

        {% for field in form %}
        {{field.label_tag}}
        {{field}}
        <div>
            {% for error in field.errors  %}
            <small class="errorstyle">{{error|striptags}}</small>
            {% endfor %}    
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success mt-3">Update</button>

        </form>
    </div>
</div>
{% endblock %}
